<section data-ng-controller="SearchesController" data-ng-init="findOne()">
    <h2>
        <a data-ng-href="#!/searches/{{search._id}}">{{search.name}}</a>
    </h2>
    <div>Created at: {{search.created | date:'medium'}}</div>
    <div>Created by: {{search.user.name}}</div>
    <div ng-if="search.hashtags">
        <h4>Hashtags</h4>
        <ul>
            <li data-ng-repeat="hashtag in search.hashtags">{{ hashtag }}</li>
        </ul>
    </div>
    <div ng-if="search.users">
        <h4>Users</h4>
        <ul>
            <li data-ng-repeat="user in search.users">{{ user }}</li>
        </ul>
    </div>
    <div>
        <a class="btn" href="/#!/searches/{{search._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>

    </li>
</section>
